body {
  font-family: "Playfair Display", serif;
}

.text-primary {
  color: #723182 !important;
}

.bg-primary {
  background: #723182 !important;
}

.text-ld {
  color: #555;
}
.img {
  background: url("./img/illustrations/hero-section.png") no-repeat;
  background-position: right top;
  background-size: contain;
  height: 70vh;
}

.our {
  margin-top: 80px;
  margin-bottom: 120px;
}

.our-library {
  background: url("./img/illustrations/libraries-bg.png") no-repeat;
  width: 100vw;
  height: 70vh;
  background-position: left bottom;
  background-size: contain;
}
.checked {
  color: orange;
}

.about-box ul li a {
  color: #555;
}

li {
}
